*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
.top{
    background-color: #00306e;
    padding:10px 0px 0px 0px;
   color: #fff;
}
.uls{
   display: flex;
}
.vls{
    display: flex;
}
.main{
    display:flex;
    justify-content: space-between;
}
.info{
    color: #fff;
}
.info:hover{
    color: #fff;
    text-decoration: none;
}
li.list {
    padding-right:17px;
}
li.lst {
    margin-left: 15px;
}
i.fa-solid.fa-user {
    margin-right: 5px;
}
a.brand {
    color: white;
    padding: 0px 10px 0px 0px;
}
i.fa-solid.fa-envelope {
    margin-right: 5px;
}
i.fa-solid.fa-phone {
    margin-right: 5px;
}
ul.navbar-nav {
    
    position: relative;
    left: 35%;
}
a.nav-link {
    padding: 30px 0px;
    color:black;
    font-size: 16px;
    font-weight: 500;
}
li.nav-item {
    margin-left: 24px;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    color: black;
}
.sec{
    background-image: url(image/hero_bg_4_1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 520px;
}


.more{
    color: #0D5EF4;
    font-size: 14px;
    font-weight:600;
    text-transform: uppercase;
    font-family: 'Jost', sans-serif;
}
.span{
    margin-bottom: 25px;
    
}
.course{
    display: flex;
}
li.expart {
    padding-right: 30px;
    font-size: 16px;
    font-weight: 500px;
    font-family: 'Jost', sans-serif;
    color: black;
}
.ex{
    font-size: 16px;
    font-weight: 500px;
    font-family: 'Jost', sans-serif;
    color: black;
}
h1.hero {
    font-size: 48px;
    margin-bottom: 30px;
    font-weight: 700;
    font-family: 'Jost', sans-serif;
}
.checklist {
    margin-bottom:50px;
}
.as{
    font-size: 14px;
    font-weight: 600;
    font-family: sans-serif;
     padding: 19px 30px;
    color: #fff;
    background-color: #0D5EF4;
    border-radius: 6px;
    box-shadow: 0px 6px 16px rgba(13,94,244,0.24);
}
.as:hover{
    text-decoration: none;
    color:#fff;
    background-color: black;
}
.as-2:hover{
    text-decoration: none;
    background-color:#0D5EF4;
    color: #fff;
      
}
.as-2{ font-size: 15px;
    font-weight: 600;
    padding: 19px 30px;
    
    text-decoration: none;
    color:#0D5EF4;
    background-color: #fff;
    font-family: sans-serif;
    border-radius: 6px;
}
.get{
    display: flex;
}
.our {
    padding-left: 20px;
}
i.fas.fa-long-arrow-right.ms-2 {
    padding: 12px 0px 0px 7px;
}
section.two {
    padding-top: 120px;
   
}
.girl-2 {
    position: absolute;
    top: 23%;
    right: 8%;
    background-color: white;
    padding: 10px 0px 10px 10px;
    border-radius: 10px;
}
img.og {
    border-radius: 10px;
    overflow: hidden;
}
.tg{
    border-radius:10px;
    overflow: hidden;
}
h1.better {
    margin-bottom: 40px;
}
.spam{
    margin-bottom: 22px;
    font-size: 18px;
    font-weight: 500;
    color: #0D5EF4;
    text-transform: uppercase;
}
.synery {
    margin-bottom: 40px;
    line-height: 1.80;
    color: rgb(61, 61, 61);
    font-family: sans-serif;
   
}
h1.better {
    font-size: 40px;
    font-weight: 600;
    font-family: serif;
}
.max{
    border-radius: 10px;
    box-shadow: 1px 0px 28px rgba(131,139,154,0.19);
    border: none;
    padding: 35px 40px 10px 40px;
    background-color: #fff;
    
    margin-top: -130px;
    
    
}
.seven {
    padding: 120px 0px 240px;
}
.kabil {
    position: relative;
    bottom: 50%;
}
.icon {
    margin-bottom: 32px;
    
}
.H.five {
    margin-bottom: 15px;
}
.three{
    padding-bottom: 100px;
}
.four{
    background-image: url(image/back\ blue.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding:120px 0px;
}
.spames {
    margin-bottom: 22px;
    font-size: 18px;
    font-weight: 500;
    color: #0D5EF4;
}
h2.meet {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 60px;
    font-family: serif;
}
.art {
    padding-top: 25px;
}
img.last {
    margin-right: 15px;
}
.scrd {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px 30px 15px 30px;
    display: flex;
}

a.ander {
    color: black;
}
.ander:hover{
    text-decoration: none;
    color:black;
}
h3.htn {
    font-size: 22px;
    font-family: revert;
}
.dono {
    width: 185px;
}
a.icon-btn {
    border: 1px solid;
    border-radius: 50%;
    padding: 15px 18px;
    background-color: #fff;
}
.con {
    margin-top: 25px;
}
img.last {
   
    padding: 15px 15px;
    border-radius: 10px;
    background-color:#e1ebfc;
}
.sad {
    margin-top: 30px;
}
.khad {
    margin-top: 30px;
}
.counter {
    
    padding: 20px 0;
    
}
.seventext {
    margin: auto;
    text-align: center;
    max-width: 466px;
}
.seven{
    padding:70px 0px;
}
span.amar {
    font-size: 20px;
    font-weight: 600;
    color:#0D5EF4;
}
.kabil{
    display: flex;
}

.course-author:hover {
    text-decoration: none;
    color: black;
}

.eaiser:hover {
    color:#0D5EF4;
    text-decoration: none;
}
a.play-btn.popup-video {
    top: 39%;
    position: absolute;
    left: 26%;
    padding: 42px 47px;
    border-radius: 50%;
    background-color: #fff;
}
.eight {
    background-color: #F3F7FB;
    border-radius: 10px;
}

    


.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 25px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    color: #fff;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
}
 .count{
    
   background-color: #0D5EF4;
    
    

}
.meta{
    border-top: 1px solid #e5e5e5;
    margin-top: 4px;
    padding: 20px 0 4px;

}
.timer{
    color: #fff;
    font-size: 43px;
    font-weight: 600;
    font-family: auto;
}
.six{
    padding-top:120px;
}

.spam-6 {
    max-width: 700px;
    margin: auto;
    text-align: center;
}
spam.subtitle {
    color: blue;
    font-size: 18px;
    font-weight: 500;
    font-family: inherit;
    text-transform: uppercase;
}
h2.sec-title {
    margin-top: 20px;
    font-weight: 500;
    font-size: 40px;;
}
.new {
    margin-bottom: 60px;
}

.blog_section {
    padding-top: 5rem;
    padding-bottom: 3rem;
  }
  .blog_section .blog_content .blog_item {
    margin-bottom: 30px;
    box-shadow: 0 0 11px 0 rgba(6, 22, 58, 0.14);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    background-color: #F3F7FB;;
  }
  .blog_section {
    padding-top: 0rem;
    padding-bottom: 3rem;
}
  .blog_section .blog_content .blog_item:hover .blog_image img {
    transform: scale(1.1);
  }
  .blog_section .blog_content .blog_item .blog_image {
    overflow: hidden;
    padding: 0;
  }
  .blog_section .blog_content .blog_item .blog_image img {
    width: 100%;
    transition: transform 0.5s ease-in-out;
  }
  .blog_section .blog_content .blog_item .blog_image span i {
    position: absolute;
    z-index: 2;
    color: #fff;
    font-size: 18px;
    width: 38px;
    height: 45px;
    padding-top: 7px;
    text-align: center;
    right: 20px;
    top: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 79%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 79%, 0 100%);
    background-color: #ff5e14;
  }
  .blog_section .blog_content .blog_item .blog_details {
    padding: 25px 20px 30px 20px;
  }
  .blog_section .blog_content .blog_item .blog_details .blog_title h5 a {
    color: #020d26;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 26px;
    line-height: 32px;
    font-weight:500;
    transition: all 0.3s;
    text-decoration: none;
  }
  .col {
    padding-top: 42px;
    border-right: 1px solid;
    border-color: #2f78ff!important;
    height: 250px;
}


.course-meta {
    display: flex;
}
img.lpal {
    max-width: 100%;
    border-radius: 10px;
    width: 700px;
    height: 400px;
    object-fit: cover;
    position:relative;
}
.course-content {
    border: 1px solid;
    background-color: #fff;
}
.course-content {
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
   
    right: 0;
    bottom: 20%;
    padding: 70px;
    border:none;
}
.fa-solid{
    font-family: "Font Awesome 6 Free";
    font-weight: none;
    
}
i.fas.fa-file {
    padding: 15px;
    background-color:#0D5EF4;
    border-radius: 8px;
    margin-right: 10px;
    box-shadow: 0px 4px 8px rgb(13 94 244 );
}
a.eaiser {
    color: black;
    /* font-size: 25px; */
    font-weight: 700;
    font-family: sans-serif;
}
.meta-box i{
    color: white;
}
 .course-author {
    display: block;
    margin-bottom: 20px;
    padding-bottom: 12px;
    border-bottom: 1px dashed #D0D7E3;
    color: #0D5EF4;
}
.ten{
    padding: 120px 0px;
}
img.cartoon {
    width: 100%;
}
.title-area {
    margin-bottom: 40px;
}
p.set {
    margin-bottom: 45px;

}
.crous {
    margin: auto;
    text-align: center;
    max-width: 700px;
}
span.hevy {
    color:#0D5EF4;
    font-size: 18px;
    font-weight: 500;
}
h3.widget.touch {
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 35px;
}
p.fuse {
    color: #fff;
    font-size: 15px;
    margin-bottom: 25px;
}
.toll {
    color: #fff;
}
a.facebook {
    color: #fff;
    padding-right: 15px;
    font-size: 18px;
}
.footers {
    margin-top: 25px;
}
h2.student {
    color: white;
    margin-top: 15px;
}
a.isoh {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
}
.isoh:hover{
    text-decoration: none;
    color: #0D5EF4;
}
.text-inherit:hover{
    text-decoration: none;
    color: #0D5EF4;
}
.recently:hover {
    color:#0D5EF4;
    text-decoration: none;
}

.laxman:hover{
    text-decoration: none;
    color: #0D5EF4;
}
a.laxman {
    color: #fff;
    padding-left: 15px;
}
li.lined {
    margin-bottom: 20px;
}
a.text-inherit {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}
a.recently {
    color: #fff;
}
a.recently {
    color: #fff;
}
.mediaquary {
    padding-left: 12px;
}
h4.posted {
    line-height: .8;
}
img.jin {
    border-radius: 10px;
}
.ytrho {
    display: flex;
    margin-bottom: 15px;
}
.twelve{
    padding: 120px 0px;
    background-image: url(./image/blue.jpg);
}
.vishal{
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
    padding: 19px 30px;
    color: #0D5EF4;
    border-radius: 6px;
    
    border: 1px solid;
    display: inline;
}
.vishal:hover{
    color: #fff;
    background-color: #0D5EF4;
    text-decoration: none;
}
.terah{
    padding: 120px 0px 60px 0px;
   background-color: #f9fafc;
}
spam.khat {
    color: blue;
    font-size: 18px;
    font-weight: 500;
}
.spame {
    margin-bottom: 18px;
}
.uid {
    display: block;
    max-width: 100%;
    width: 300px;
    margin: auto;
    transition: transform 0.5s ease-in-out;
    border-radius: 20px;
}
.swag {
    padding-top: 20px;
    padding-left: 10px;
}
.styles{
    padding-bottom: 20px;
}
.blom_section{
    background-color: #f9fafc;
    padding-bottom:80px;

}
.blos_image{
    overflow: hidden;
}
.foot{
    padding: 110px 0px 0px 0px;
    background-position:center ;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(image/footer.jpg);
}
a.soft {
    color: #fff;
}
i.fas.fa-arrow-right.ms-2 {
    color: #fff;
}

.abacy {
    margin: auto;
    text-align: center;
    max-width: 700px;
}
.fitss{
    border-top: 1px solid;
    border-color: #525252!important;
}
.fitss {
    padding: 20px 0px;
}
p.righter {
    color: #fff;
}
.soft:hover{
    color: #0D5EF4;
    text-decoration: none;
}


.blom_item {
    margin-bottom: 30px;
    box-shadow: 0 0 11px 0 rgb(6 22 58 / 14%);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
}

.teach:hover {
    color:#0D5EF4;
    text-decoration: none;
}
a.teach {
    color: black;
    line-height: 1.6;
    font-size: 22px;
}
.swag {
   
    border-top:1px solid #c7c7c7;
}
a.ptani {
    color:#0D5EF4;
    font-size: 16px;
    font-weight: 600;
}
i.far.fa-clock {
    padding-right: 10px;
}
i.far.fa-user {
    margin-right: 10px;
}
a.badms {
    color:#7f7f7f;
}
.badms:hover{
    color: #0D5EF4;
    text-decoration: none;
}
.styles {
    display: flex;
    justify-content: space-between;
}





span.sub-title {
    color:#0D5EF4;
    font-size: 18px;
    font-weight: 500;
}
.course-meta {
    display: flex;
    justify-content: space-between;
}
.meta-box {
    display: flex;
}
i.fas.fa-user {
    padding: 15px;
    background-color:#0D5EF4;
    border-radius: 8px;
    margin-right: 10px;
    box-shadow: 0px 4px 8px rgb(13 94 244 );
}
i.fas.fa-eye {
    margin-right: 10px;
    padding: 13px;
    background-color:#0D5EF4;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgb(13 94 244 );
}



  .blog_section .blog_content .blog_item .blog_details .blog_title h5 a:hover {
    color: #ff5e14;
  }
  .blog_section .blog_content .blog_item .blog_details ul {
    padding: 0 3px 10px 0;
    margin: 0;
  }
  .blog_section .blog_content .blog_item .blog_details ul li {
    display: inline-block;
    padding-right: 15px;
    position: relative;
    color: #7f7f7f;
  }
  .blog_section .blog_content .blog_item .blog_details ul li i {
    padding-right: 7px;
  }
  .blog_section .blog_content .blog_item .blog_details p {
    border-top: 1px solid #e5e5e5;
    margin-top: 4px;
    padding: 20px 0 4px;
  }
  .blog_section .blog_content .blog_item .blog_details a {
    font-size: 16px;
    display: inline-block;
    color:black;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s;
  }
  .blog_section .blog_content .blog_item .blog_details a:hover {
    color: #020d26;
  }
  .blog_section .blog_content .blog_item .blog_details a i {
    vertical-align: middle;
    font-size: 20px;
  }
  .blog_section .blog_content .owl-nav {
    display: block;
  }
  .blog_section .blog_content .owl-nav .owl-prev {
    position: absolute;
    left: -27px;
    top: 33%;
    border: 5px solid #fff;
    text-align: center;
    z-index: 5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: 0;
    background: #ff5e14;
    transition: all 0.3s;
    color: #fff;
  }
  .blog_section .blog_content .owl-nav .owl-prev span {
    font-size: 25px;
    margin-top: -6px;
    display: inline-block;
  }
  
  .blog_section .blog_content .owl-nav .owl-next {
    position: absolute;
    right: -27px;
    top: 33%;
    border: 5px solid #fff;
    text-align: center;
    z-index: 5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: 0;
    background: #ff5e14;
    color: #fff;
    transition: all 0.3s;
  }
  .blog_section .blog_content .owl-nav .owl-next span {
    font-size: 25px;
    margin-top: -6px;
    display: inline-block;
  }
  .blog_section .blog_content .owl-nav .owl-next:hover {
    background: #fff;
    border-color: #ff5e14;
    color: #ff5e14;
  }
  
  .blog_section {
    padding-top: 0rem;
    padding-bottom: 3rem;
    padding-bottom: 90px;
}
img.sluid {
    border-radius: 10px;
}
.meta{
    display: flex;
    justify-content: space-between;
}
.sectin{
    background-image: url(image/why_bg_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom:45px;
}
.sif {
    color:#0D5EF4 ;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 22px;
}
.tanus {
    margin-bottom: 40px;
}
.left-text{
    padding: 115px 0px 30px 0px;
}
a.as {
    text-transform: uppercase;
}
h2.semibold {
    font-size: 40px;
    font-weight: 600;
    font-family: system-ui;
}
.feature-card{
    margin-bottom: 30px;
    box-shadow: 0px 4px 21px rgb(179 193);
    border-radius: 10px;
    padding: 45px 30px;
    background-color: #fff;
    text-align: center;
}
.feature-card-2{
    margin-bottom: 30px;
    box-shadow: 0px 4px 21px rgb(179 193);
    border-radius: 10px;
    padding: 45px 30px;
    background-color: #fff;
    text-align: center;
    margin-top: 25px;
}
.feature-card_icon {
    margin-bottom: 25px;
}
h3.feature-card_title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 12px;
}
p.client {
    margin-bottom: 50px;
    font-size: 16px;
}
.agi {
    display: flex;
    position: relative;
    bottom: 40%;
}
.course-cotent {
    position: absolute;
    top: 65px;
    z-index: 1;
    background-color: #fff;
    padding: 70px;
    border-radius: 10px;
}
.seven {
    padding: 120px 0px 255px 0px;
}
img.wind {
    max-width: 100%;
    height: 385px;
    width: 700px;
    border-radius: 10px;
}
span.lal {
    position: absolute;
    top: 35px;
    right: 30px;
   
    border-radius: 999px;
    padding: 1px 16px;
    background-color: red;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.klo {
    display: flex;
 }
.twist {
    position: relative;
    left: 37%;
}

   
a.play {
    
    padding: 40px 45px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 39%;
    left: 41%;
}
i.fa-solid.fa-star {
    color:#0D5EF4;
    font-size: 10px;
}
span.spaciel {
    font-size: 12px;
}
i.fa-solid.fa-star {
    font-size: 12px;
}
.pht {
    display: flex;
    justify-content: space-between;
}
img.bot {
    border-radius: 50%;
   
}
a.perry {
    padding-left: 10px;
}
span.spme {
    color:#0D5EF4;
    font-size: 11px;
    
}
a.perry {
    color: black;
}
.blom_item {
    padding: 30px;
}
  
  @media only screen and (max-width: 577px) {
    .blog_section .owl-nav .owl-prev {
      left: -17px !important;
    }
    .blog_section .owl-nav .owl-next {
      right: -17px !important;
    }
  }
 

@media(max-width:764px){
    .uls{
        display: none;
    }
    a.brand {
        padding: 0px 5px 0px 0px;
    }
    .ex {
        font-size: 15px;
    font-weight: 500;
    font-family: inherit;
    }
    .text {
        padding: 110px 0px;
    }
    .left-text {
        padding: 0px;
    }
    .feature-card {
        margin-top: 70px;
    }
    h2.sec-title {
        margin-top: 15px;
        font-weight: 500;
        font-size: 35px;
    }
    img.sluid {
        border-radius: 10px;
    }
    .seven {
        padding: 0px 0px 200px 0px;
    }
    .course-content {
        border-radius: 10px;
        background-color: #fff;
        position:none;
        right: 0;
        bottom: -100%;
        padding: 0px;
        border: none;
    
            padding: 20px;
        
    }
    .course-cotent {
        position: absolute;
        top: 30px;
        z-index: 1;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
    }
    a.play-btn.popup-video {
        top: 40%;
        position: absolute;
        left: 35%;
        padding: 30px 37px;
        border-radius: 50%;
        background-color: #fff;
    }
    .twist {
        position: relative;
        left: 0;
        bottom: 150px;
    }
    img.wind {
        max-width: 100%;
        height: 290px;}
    .agi {
        
        position: relative;
        bottom: -150%;
    }
    a.play {
        padding: 30px 36px;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        top: 35%;
        left: 32%;
    }
    img.wind {
        max-width: 100%;
        height: 200px;
        width: 700px;
        border-radius: 10px;
    }
    
    .six {
        padding-top: 80px;
    }
    
    
    h2.semibold {
        
        font-size: 33px;
    }
    
    li.expart {
        padding-right: 30px;
        font-size: 15px;
        font-weight: 500;
       padding-bottom: 10px;
        font-family: inherit;
    }
    a.nav-link {
        padding: 10px 0px;
    }
    ul.navbar-nav {
        position: none;
        left: 0%;
    }
    img.og {
        width: 210px;
    }
    .girl-2{
        position: absolute;
        top: 22%;
    }
    .tg {
        width: 95px;
    }
    .girl-intro {
        margin-top: 60px;
    }
    section.two {
        padding-bottom: 90px;
    }
    
    .max{
        margin: 20px 0px 0px 0px;
    }
        
    
    .get{
        display: inherit;
    }
    .our {
        padding-top: 40px;
        padding-left: 0px;
    }
    .as{
        padding: 21px 30px;
    }
    .as-2{
        padding: 17px 17px;
    }
    .scrd{
        padding: 10px 10px 10px 10px;
    }
    .paad {
        margin-top: 60px;
    }
    .know {
        text-align: center;
    }
    .art{
        text-align: center;
    }
    .scrd {
        margin-top: 30px;
    }
    h1.better {
        font-size: 31px;
    }
    .synery {
        font-size: 16px;
        font-weight: 500;
    }
    .more{
        font-size: 12px;
    }
    h1.hero {
        font-size: 24px;
    }
    .course {
        display:inherit;
    }
    section.blog_section {
        padding-bottom: 60px;
    }
    .ten {
        padding: 70px 0px;
    }
    .meta-box {
        display:inline;
    }
    img.lpal {
        max-width: 100%;
        border-radius: 10px;
        width: 700px;
        height: 270px;
        object-fit: cover;
        position: relative;
    }
    
    .ritex {
        margin-top:170px;
    }
    .thik {
        position: relative;
        top: 130px;
    }
    .terah {
        padding: 70px 0px 60px 0px;
    }
    .widget {
        margin-bottom: 50px;
    }
    .fiter {
        margin-bottom: 50px;
    }
}
@media(max-width:1024px){
    img.wind {
        max-width: 100%;
       
        width: 585px;
        border-radius: 10px;
    }
    ul.navbar-nav {
        position: relative;
        left: 20%;
    }
    
}
    
